TYPEORM_CONNECTION="postgres"
TYPEORM_HOST="localhost"
TYPEORM_USERNAME="<USERNAME>"
TYPEORM_PASSWORD="<PASSWORD>"
TYPEORM_DATABASE="ts_mini_mart_db"
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES="src/db/entity/**/*.ts"
TYPEORM_MIGRATIONS="src/db/migration/**/*.ts"
TYPEORM_SUBSCRIBERS="src/db/subscriber/**/*.ts"
TYPEORM_ENTITIES_DIR="src/db/entity/**/*.ts"
TYPEORM_MIGRATIONS_DIR="src/db/migration/**/*.ts"
TYPEORM_SUBSCRIBERS_DIR="src/db/subscriber/**/*.ts"
PORT=5000
JWT_SECRET="<JWT_SECRET>"
REFRESH_JWT_SECRET="<JWT_REFRESH_SECRET>"
SALT_ROUNDS=10
REDIS_URI="<REDIS_URI>"
#900000milliseconds=>15minutes
JWT_TTL=900000
#900seconds=>15minutes
REDIS_TTL=900